extends ../layouts/application

block content
    h3.title Headings and Paragraphs
    hr
    h1 Heading 1
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    h2 Heading 2
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    h3 Heading 3
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    h4 Heading 4
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    h5 Heading 5
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    h6 Heading 6
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    h3.title Lists
    hr.seam
    p
      | Lonsectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m.
    ol
      li list item 1
      li
        | list item 1
        ol
          li list item 2
          li
            | list item 2
            ol
              li list item 3
              li list item 3
          li list item 2
          li list item 2
      li list item 1
      li list item 1
    p
      | Lonsectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m.
    ul
      li list item 1
      li
        | list item 1
        ul
          li list item 2
          li
            | list item 2
            ul
              li list item 3
              li list item 3
          li list item 2
          li list item 2
      li list item 1
      li list item 1
    p description list
    dl
      dt Description name
      dd Description value
      dt Description name
      dd Description value
      dd Description value
      dt Description name
      dt Description name
      dd Description value
    hr.seam
    p
      | Random Tags (todo - move multiline jade below into one line w/ html (see a tag below))
      br
      | The <a href="#">a element</a> example
      br
      | The
      abbr abbr element
      | and
      abbr(title='Title text') abbr element with title
      | examples
      br
      | The
      b b element
      | example
      br
      | The
      cite cite element
      | example
      br
      | The
      code code element
      | example
      br
      | The
      del del element
      | example
      br
      | The
      dfn dfn element
      | and
      dfn(title='Title text') dfn element with title
      | examples
      br
      | The
      em em element
      | example
      br
      | The
      i i element
      | example
      br
      | The
      ins ins element
      | example
      br
      | The
      kbd kbd element
      | example
      br
      | The
      mark mark element
      | example
      br
      | The
      q
        | q element
        q inside
        | a q element
      | example
      br
      | The
      s s element
      | example
      br
      | The
      samp samp element
      | example
      br
      | The
      small small element
      | example
      br
      | The
      span span element
      | example
      br
      | The
      strong strong element
      | example
      br
      | The
      sub sub element
      | example
      br
      | The
      sup sup element
      | example
      br
      | The
      var var element
      | example
      br
      | The
      u u element
      | example
