.l-logo a {
  display: block;
  width: 130px;
  text-align: center;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  padding: 1em;
  line-height: 1;
  background: url(asset_path("logo.png")) no-repeat center center;
}