/***
  conventions via https://github.com/necolas/idiomatic-css

  LAYOUT

  .l-header
  - .l-inner
  -- .l-container
  .l-content
  - .l-inner
  -- .l-container
  .l-footer
  -- .l-inner
  --- .l-container
  
  .l-header, .l-content, .l-footer is for full width rows
  .l-inner is used to set a content margin, otherwise it would mess with 100% rows or the body itself
  .l-container is a class to contain the content (also max-width) for header,footer, or content(main)

  // sticky css at the bottom of this file

  Properties ordered by position > display/box > color > text > other
  @tag This is a tag named 'tag'
  @todo This is a todo statement that describes an atomic task to be completed

***/

.l-header
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  overflow: hidden
  background-color: #333
  line-height: 1;
  z-index: 10

.l-inner
  margin: 0 1em

.l-logo
  float: left
  a
    display: block
    width: 130px
    text-align: center
    text-indent: 200%
    white-space: nowrap
    overflow: hidden
    padding: 1em
    line-height: 1;
    background: url(/img/logo.png) no-repeat center center
    &:hover
        background-color: rgba(0, 0, 0, .12)

.l-menu
  & > li
    float: left
    margin: 0
    padding: 0
    list-style: none
    line-height: 1;
    & > a
        float: left
        padding: 1em
        text-decoration: none
        color: #e8e8e8
        &:hover
          background-color: rgba(0, 0, 0, .12) 

.l-container 
  overflow: hidden
  margin: 0 auto
  max-width: 64em

.l-content 
  padding-top: 4em
  background: #fff


.l-footer 
  position: fixed
  bottom: 0
  left: 0
  right: 0
  width: 100%
  background: #ccc
  text-align: center
  z-index: 10

  p
    padding: .5em 1em
    margin: 0
    line-height: 1;

.l-footer-inner
  margin: 0 1em

.seam
  seam()






@media $screen-maxheight {
  .l-header, .l-footer {
    position: relative;
  }

  .l-content {
    padding-top: 1em
  }
}