- var action = '/posts', actionText = 'Create Post'
if locals.isEdit
  - action += '/' + post._id, actionText = 'Update Post'
form(method='post', action=action)
  if locals.isEdit
    input(type="hidden", name="_method", value="PUT")
  input(type='hidden', name='_csrf', value=token)
  input(type='text', name='title', value=post.title)
  input(type='submit', value=actionText)