header.l-header
  .l-inner
    .l-content
      .l-logo
        a(href='/') App Name
      ul.l-menu
        li
          a(href='/', title="home") Home
        li
          a(href="/about", title="About") About
        li
          a(href="/test", title="Test") Test
        li
          a(href="/posts", title="Posts") Posts
        li
          a(href="https://github.com/eddywashere/expressy", title="Fork Me") Fork Me