header.l-header
  .l-container
    #logo
      a(href='/') App Name
    .nav-bar
      ul.nav
          li
            a(href='/', title="home") Home
          li
            a(href="/about", title="About") About
          li
            a(href="/test", title="Test") Test