header.l-header
  .l-inner
    .l-container
      .l-logo
        a(href='/') App Name
      ul.l-menu
        li
          a(href='/', title="home") Home
        li
          a(href="/about", title="About") About
        li
          a(href="/test", title="Test") Test